<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<main>		
		<form action="/admin/login" method="POST" class="login">	
			<figure>
				<img src="/assets/images/logo.png">
			</figure>				
			
			<div>
				<label for="usuario">Usuario</label>
				<input type="text" name="user" id="usuario" placeholder="Usuario">
			</div>
			<div>
				<label for="usuario">Contraseña</label>
				<input type="password" name="pass" id="password" placeholder="Contraseña">
			</div>
			[mensajes]
				<blockquote class="{style}">{mensaje}</blockquote>
			[/mensajes]	
			
			<div>
				<input type="submit" value="Iniciar">
			</div>
		</form>			
	</main>
</body>
</html>